{% extends 'user/base.html' %}
{% block content %}
  <div class="media">
      <div class="round-img">
        <img class="rounded-account-img" src="{{ user.sellerprofile.proimage.url }}"> 
      </div>
      <div class="media-body">
        <h2 class="account-heading">{{ user.sellerprofile.shop_name }}</h2>
        <p class="text-secondary">{{ user.sellerprofile.Business_mail }}</p>
        <h2 class="account-heading">{{ user.username }}</h2>
        <p class="text-secondary">{{ user.email }}</p>
        </div>
      <form  method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <fieldset class="form-group">
              <legend class="register">Profile info</legend>
              {{ form.as_p }}
          </fieldset>
          <div class="form-group">
              <button class="btn-info" type="submit">Update Profile</button>
          </div>
      </form>
  <div>
{% endblock content %}