{% extends 'user/base.html' %}
{% block content %}
<div class="buypg">
<a class="nxt-pg" href="{% url 'propg' product.pk %}">
    <div class="main-products">
        <div class=posts>
            <img class="pro-img" src="{{ product.image.url }}">
            <h2>{{ product.title }}</h2>
            <p>{{ product.price }}{{ product.content}}{{ product.quantity }}</p>
        </div>
    </div>
    </a>
<form  method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <fieldset class="form-group">
        <legend class="register">Purchase</legend>
        {{ form.as_p }}
    </fieldset>
    <div class="form-group">
        <button class="btn-info" type="submit">Place order</button>
    </div>
</form>
</div>
{% endblock content %}