{% load static %}
<!DOCTYPE html>
<html>
    <style type="text/css">
    body{
        background-color: black;
        display: flex;
        justify-content: center;
        align-items: center;.
        
        flex-direction: column;
    }
    </style>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">

    <link rel="stylesheet" type="text/css" href="{% static 'seller/style.css' %}">

    {% if title %}
        <title>Django Blog - {{ title }}</title>
    {% else %}
        <title>Django Blog</title>
    {% endif %}
</head>
<body>
    <div>
        <img class="proimg" src="{{ product.image.url }}">
    </div>
    <div class="form-group">
        <a class="btn-info" href="{{ product.image.url }}" download="{{ product.image.url }}">download me  here :)</a>
    </div>
</body>
</html>
